.Pong {
	width: 70vw;
	height: 50vh;
	background-color: black;
	justify-content: center;
	margin: auto;
	margin-top: 50px;
}

.play_button {
	width: 20vw;
    height: 10vw;
    font-size: 5vw;
    font-family: 'ufc italic';
	margin-top: 25vh;
}

.watch_button {
	width: 20vw;
	height: 10vw;
	font-size: 5vw;
	font-family: 'ufc italic';
	margin-top: 10vh;
}

.room_name {
	width: auto;
	height: 10vw;
	font-size: 3vw;
	font-family: 'ufc italic';
	margin-top: 10vh;
}

.quit_button {
	width: 20vw;
    height: 7vw;
    font-size: 3vw;
    font-family: 'ufc italic';
	margin-top: 5vh;
}

.play_button:hover {
	color: rgb(163, 0, 0);
	cursor: pointer;
}

.quit_button:hover {
	color: rgb(163, 0, 0);
	cursor: pointer;
}